* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root,
:root.light {
	--first-color: #f2f2f2;
	--second-color: #222222;
	--third-color: #0f60b6d5;
	--border-color: #00000033;
}
:root.dark {
	--first-color: #003554;
	--second-color: rgb(140, 140, 140);
	--border-color: rgba(148, 148, 148);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;

	color: var(--second-color);
	background-color: var(--first-color);
}

html {
	font-size: 62.5%;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	&__heading {
		font-size: 2.8rem;
		text-transform: uppercase;
		margin: 1rem;
	}
	&__icon {
		margin-right: 1rem;
		font-size: 3rem;
		color: var(--third-color);
	}
}

.nav {
	font-size: 1.8rem;
	margin: 1rem;

	&__link {
		position: relative;
		padding: 0.5em 1em;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid var(--second-color);
		border-radius: 2px;
		z-index: 5;
		color: var(--second-color);
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			background-color: var(--third-color);
			transition: height 0.3s;
		}
		&:hover {
			color: var(--first-color);

			&:after {
				z-index: -1;
				height: 100%;
			}
		}
	}

	&__icon {
		margin-right: 1em;
	}
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem 1em;
	padding: 1rem;
	color: var(--second-color);
	border-radius: 2px;
	box-shadow: 6px 6px 44px -10px var(--third-color);
}

.total {
	display: flex;
	padding: 2rem;
	margin: 2rem 1rem;

	&__title {
		margin: auto 1rem;
		text-transform: uppercase;
		font-size: 2.2rem;
		text-align: left;
	}

	&__sum {
		font-size: 5rem;
		text-align: right;
		margin: 0 1rem;
		color: var(--third-color);
	}
	&__currency {
		font-size: 2rem;
	}
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.btn {
	margin-right: 1rem;
	padding: 1rem 1.5rem;
	font-size: 0;
	border: 1px solid var(--second-color);
	border-radius: 3px;
	color: var(--second-color);
	background-color: var(--first-color);
	cursor: pointer;
	transition: color 0.3s, border 0.3s;

	&:hover {
		color: var(--third-color);
		border: 1px solid var(--third-color);
	}

	&:last-of-type {
		margin-right: 0;
	}

	&-icon {
		font-size: 1.4rem;
	}
}

.transactions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem 1rem;

	&__area {
		margin-top: 1rem;
		width: 100%;
	}

	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}

	&__info {
		font-size: 1.4rem;
		font-style: italic;
        margin-bottom: 1rem;
	}
}

.transaction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	font-size: 1.8rem;
	text-transform: uppercase;

	&:nth-of-type(odd) {
		background-color: #0f60b61a;
	}

	&__icon {
		padding: 0.5em 1em;
	}

	&__btn--delete {
		padding: 0.5em 1em;
		border: none;
		background: none;
		cursor: pointer;
		transition: color 0.3s, scale 0.3s;

		&:hover {
			color: var(--third-color);
			scale: 1.1;
		}
	}
}

.rate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 4rem 1em;

	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}

	&__info {
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__first,
	&__second {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		padding: 1rem 1.5rem;
		border: 1px solid var(--second-color);
		border-radius: 3px;
		font-size: 1.4rem;
		color: var(--second-color);
        background-color: var(--first-color);
		cursor: pointer;
		transition: color 0.3s, border 0.3s;

		&:hover {
			color: var(--third-color);
			border: 1px solid var(--third-color);
		}
	}

	&__input {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		border: none;
		font-size: 4rem;
		padding: 0.5rem 1rem;
		outline: none;
		background: none;
		width: 100%;
	}

	&__select {
		font-size: 1.4rem;
		background: none;
		border: 1px solid var(--second-color);
		border-radius: 3px;
		padding: 0.5rem 1rem;
		font-family: 'Montserrat', sans-serif;

		&:focus, &:hover, &:active {
			border: 1px solid var(--third-color);
		}
	}

	&__result {
		font-size: 1.8rem;
		margin-top: 1rem;
		text-align: center;
	}
}

// .shadow {
//     // display: none;
//     z-index: 10;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: #0f60b631;
//     opacity: .9;
//     overflow: hidden;
// }

.add {
	display: flex;
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 3.5rem;
	background-color: var(--first-color);

	&__title {
		text-align: center;
		font-size: 2.6rem;
		text-transform: uppercase;
		margin: 2rem 0;
	}
	&__label {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: bold;
		margin: 1.7rem 0;
	}

	&__info {
		font-style: italic;
		font-size: 1.4em;
		margin-bottom: 0.5rem;
		width: 80%;
	}

	&__input {
		padding: 0.5rem 1rem;
		border: 1px solid (var(--second-color));
		border-radius: 3px;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 1rem;
		width: 80%;

		&:focus,
		&:hover,
		&:active {
			border: 1px solid var(--third-color);
		}
	}

	&__btns {
		margin: 2rem 0;
	}
	&__btn {
		padding: 0.5rem 1rem;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;
		font-size: 2rem;
		border: 1px solid var(--second-color);
		border-radius: 3px;
		transition: color 0.3s, border 0.3s;

		&:hover {
			color: var(--third-color);
			border: 1px solid var(--third-color);
		}

		&:first-of-type {
			margin-right: 1rem;
		}

		&--icon {
			margin: 0 0.5rem;
		}
	}

    &__error{
        visibility: hidden;
        font-size: 1.4rem;
		font-style: italic;
        margin-bottom: 1rem;
    }
}

.footer {
    margin: 2rem 0 1rem;
    font-size: 1.4rem;
    color: var(--third-color);

    &__link {
        text-decoration: none;
        color: var(--third-color);
        font-weight: bold;
        font-style: italic;
    }
}

//- - - - - - - - - - - - MEDIA - - - - - - - - - - - -

@media (min-width: 576px) {
	.header {
		justify-content: space-between;
	}
}

@media (min-width: 768px) {
	.panel {
		margin: 4rem auto;
		max-width: 80%;
	}
	.transactions {
		flex-direction: row;
		align-items: flex-start;

		&__area:first-of-type {
			margin-right: 0.5rem;
		}
		&__area:last-of-type {
			margin-left: 0.5rem;
		}
	}

	.transactions__area {
		max-width: 40%;
	}

    .rate {
        align-items: center;
        
    }
    .rate__box {
        width: 40%;
    }
}
